@model Students

@{
    var SeriesName = ViewBag.SeriesName;

    var SeriesId = ViewBag.SeriesId;

}
<div class="text-center">
<h2>Delete Student</h2>
<hr/>
</div>

<div class="card">
    <div class="card-header">
     <h5 class=" text-center card-title text-danger"><i> It will delete all the associated information.</i</h5>

    </div>
    <div class="card-body">
        <form asp-action="Delete" asp-route-returnURl="@ViewBag.ReturnURl" method="post">
            <input type="hidden" asp-for="@Model.Id" />


            <div class="form-group">
                <label asp-for="Roll" class="control-label"></label>
                <input asp-for="Roll" class="form-control" disabled />
                <span asp-validation-for="Roll" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="PhoneNo" class="control-label"></label>
                <input asp-for="PhoneNo" class="form-control" disabled />
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" disabled />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label class="control-label">Series Name</label>
                <input type="text" class="form-control" value="@SeriesName" disabled />
            </div>

            <div class="form-group mt-2">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-action="AllStudents" asp-route-seriesId="@SeriesId"
                   asp-route-seriesName="@SeriesName" class="btn btn-secondary">Back to list</a>

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
