@model dynamic
@{
    var results = (List<dynamic>)Model.Results;
    int i = 0;
    string str = Context.Request.Path;

    string str1 = "?student_id=" + ViewBag.StudentId + " &semester_id=" + ViewBag.SemesterId;
    str += str1;
}

<style>
    .back-color{
        background-color: #A0DAA9;
    }
</style>

<div class="container">
<div class="row">
    <div class="col-lg-12">
        <div class="card back-color">
            <div class="card-body text-dark">
                <h5 class="card-text">Student Id: @Model.Student.Roll</h5>
                <h5 class="card-text">Student Name: @Model.Student.Name</h5>
                <h5 class="card-text">Series: @Model.Student.Series.SeriesName</h5>
                <h5 class="card-text">Semester: @Model.Semester.Name</h5>
                
            </div>
        </div>
    </div>

</div>

</div>



<div class="container">
        <div class="row mt-3">
            <div class="col-lg-12">

           
       
        <div class="card">
            <div class="card-body">
                <h3 class="text-primary"> GPA of the Semester: @Model.GPA</h3>

                <a asp-action="Details" class="mt-2 btn btn-outline-primary" asp-controller="Student" asp-route-id="@ViewBag.StudentId">Go Back</a>

            </div>
        </div>

        </div>
    </div>
</div>



<div class="container">
<div class="row">
@foreach (var item in Model.Courses)
{
    
    <div class="col-lg-3 gy-3">
    
    <div class="card h-100 mt-3">
        <div class="card-header bg-secondary">
            <h2 class="card-title text-light">@item.CourseNo</h2>
           
        </div>

        <div class="card-body" style="background-color: lightyellow">
                    <h6><i>@item.CourseTitle</i></h6>
            @if (results[i] is string)
            {

                        <h6 class="text-secondary mt-2">@results[i]</h6>
                        <a class="stretched-link link-primary"  asp-action="AddMarkofACourse" asp-route-course_id="@item.Id" asp-route-returnUrl="@str" asp-route-student_id="@ViewBag.StudentId">Add Mark</a>

            } 

            else
            {
                        <h6 class="text-primary mt-2">Obtained Grade: @results[i]</h6>
                            <a class="stretched-link link-success" asp-action="UpdateMarkOfACourse" asp-route-course_id="@item.Id" asp-route-returnUrl="@str" asp-route-student_id="@ViewBag.StudentId">Update Mark</a>

            }
        </div>

        

    </div>

    </div>
    i++;

   

}

</div>







</div>

<div class="mt-4">


</div>