@model dynamic

<style>
    .back-color {
        background-color: #A0DAA9;
    }



        .back-color:hover {
            background-color: #D9CE52;
        }
</style>




<div class="row p-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body bg-light">
                <h5 class="card-text">Id: @Model.Student.Roll</h5>
                <h5 class="card-text">Name: @Model.Student.Name</h5>
                    <h5 class="card-text">Name: @Model.Student.PhoneNo</h5>
                <h5 class="card-text">Series: @Model.Student.Series.SeriesName</h5>

            </div>
        </div>
    </div>
    


</div>

<div class="container">
    <div class="row mt-3">
        <div class="col-lg-12">



            <div class="card">
                <div class="card-body">
                    <h3 class="text-primary">CGPA : @Model.CGPA</h3>


                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
<div class="row">
    @foreach (var item in Model.Semesters)
        {

  
        <div class="col-lg-3">


            <div class="card back-color mt-4">
                <div class="card-body text-center">
                        <a class="display-5 card-link stretched-link text-dark" style="text-decoration:none" asp-action="DetailsOFaSemester" asp-route-student_id="@Model.Student.Id" asp-route-semester_id="@item.Id">@item.Name</a>

                 </div>
            </div>
        </div>

        }



</div>

</div>