@model Result

<div class="row">
    <div class="col-lg-6">
        <div class="card">

            <div class="card-header text-light bg-success">
                <h6>Student Id: @ViewBag.StudentRoll.Roll</h6>
                <h6>Course No: @ViewBag.CourseNo.CourseNo</h6>
            </div>

            <div class="card-body">
                <form asp-action="UpdateCourse" asp-route-ReturnUrl="@ViewBag.ReturnUrl " method="post" asp-route-id="@Model.Id">
                    <input type="hidden" asp-for="CourseId" value="@ViewBag.CourseId" />
                    <input type="hidden" asp-for="StudentId" value="@ViewBag.StudentId" />

                    <input asp-for="Mark" class="form-control" />
                    <span class="alert-danger" asp-validation-for="Mark" required />


                    <input class="mt-3 btn btn-success" type="submit" value="Update Mark" />
                </form>
            </div>

        </div>
    </div>
</div>



